body {
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    background-image: url(./Media/alap2.png) ;
    background-size: cover;
    background-attachment: fixed;
}



h2 {text-align: center;
background-color:  rgba(180, 255, 5, 0.822);
padding: 20px;
box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
font-size: xx-large;
-webkit-text-stroke: 1px rgba(0, 0, 0, 0.377);
color: aliceblue;
font-family: fantasy;
text-shadow:-5px -5px 2px rgb(68, 68, 68) ;
border: 5px solid rgb(255, 255, 255);
border-radius: 1px 20px;

}

.bk {
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
    padding: 15px;
}

.bkII {
    background-image: linear-gradient(45deg, rgba(221, 255, 28, 0.664)10%, rgba(255, 255, 255, 0.329) );
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
    text-align: center;
    padding: 10px;
}

.bkIII {
    background-image: linear-gradient(45deg, rgb(187, 255, 28), rgba(255, 255, 255, 0.329) );
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
    text-align:center; 
    text-decoration: underline;
    text-decoration-color: rgb(145, 255, 2);
    text-decoration-style:wavy;
    font-size: large;
    font-style: italic;

}

.bkVI {
    box-shadow: 5px 5px 10px 2px rgb(130, 255, 14) ;
    text-align:center; 
    font-size: medium;
    background-color: azure;

}

.bkV {
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
    padding: 5px;
    text-shadow:5px 5px 5px rgba(81, 99, 3, 0.575) ;

}

.bkIV {
    box-shadow: 5px 5px 10px 2px rgba(131, 255, 15, 0.719);
    text-align:center;
    display: inline;
    margin-left: 30px;

    
}

.bkVII {
    margin-left: 400px;
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
    text-align:left; 
    font-size: medium;
    background-color: azure; 
    padding: 2px;
    margin-left: 2px;
}

.bkVIII {
    margin-left: 350px;
    box-shadow: 5px 5px 10px 2px rgb(130, 255, 14) ;
    text-align:center; 
    font-size:larger;
    background-color: azure; 
    height: 55px;
    border-radius: 15px;
    padding-top: 25px;
}

a:link {
    color: rgb(0, 0, 0);    /* Linkcímek formázása */
}
a:visited {
    color: rgb(72, 75, 67);
}
a:hover { /* Aktív formázás(rajta van az egér) */
    color: rgb(255, 251, 0);
}

.list li { 
    list-style-image: url(./Media/pngegg.png) ;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.678), rgba(255, 255, 255, 0.568) );
box-shadow: 5px 5px 10px 2px rgba(179, 255, 0, 0.63) ;
text-align:center;
margin-right: 250px;
margin-left: 250px; 

}

.listII {
list-style-type: upper-roman;
background-image: linear-gradient(45deg, rgba(187, 255, 28, 0.349), rgba(255, 255, 255, 0.329) );
box-shadow: 5px 5px 10px 2px rgb(0, 0, 0) ;
text-align:center;
margin-right: 250px;
margin-left: 250px; 
}

.TB 
{
    border: none;
    text-align: center;
    background-color: rgba(248, 255, 232, 0);
    width: 100%;
    text-shadow: -3px -3px 1px  rgba(229, 255, 0, 0.418);
    border-top-left-radius: 10px;
    
}

.TB a 
{
    padding: 0.9%;
    border: 3px solid rgba(0, 0, 0, 0.548);
    text-align: center;
    background-image: linear-gradient(45deg, rgb(255, 255, 255)70%, rgba(217, 255, 0, 0.507));
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 2px 2px 2px rgba(156, 253, 0, 0.808) ;
    height: 30px;    
    text-shadow: -3px -3px 1px  rgba(255, 143, 143, 0.027);

}

.TB2 
{
    border: 10px solid rgba(161, 184, 35, 0.644);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    height: 350px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.63);
    box-shadow: 5px 5px 10px 2px  rgba(0, 0, 0, 0.63)inset;
}

.TB2 td
{
    border: 5px ridge rgb(85, 87, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.473)70%, rgba(217, 255, 0, 0.507));

}

.TB2 th
{
    border: 5px ridge rgb(85, 87, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.473)70%, rgba(217, 255, 0, 0.507));
    color: rgb(238, 255, 0);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.377);
}

.gomb input{
    text-align: center;
    color: white;
    background-color: rgb(81, 180, 0);
    border-radius: 20px;
    width: 170px;
    height: 40px;
    padding: auto;
    margin-left: 1000px;
    margin-top: 20px;
}

.small {
    font: italic 13px sans-serif;
  }
  .heavy {
    font: bold 30px sans-serif;
  }

  /* Note that the color of the text is set with the    *
   * fill property, the color property is for HTML only */
  .Rrrrr {
    font: italic 40px serif;
    fill: rgb(147, 255, 6);}

    @media screen and (max-width:700px) { 

    .TB a{
    display: block;
    width: 100%;
    padding: 0%;
    float: left;
    }
    .bk {
        float: right;
        display: inline-block ;
        width: 100%;
        margin-left: 5%;
        margin-right: 1%;
        padding: 10px;
    }
    .TB{
        float: left;
        width: 25%;
        margin-top: 20%;
    }
    .list {
        margin-left: -9%;
        margin-right: 0%;
        width: 100%;
        float:left;   
    }
    .list li {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        float: left;
    }
    .listII {
        margin-left: -9%;
        margin-right: 0%;
        width: 100%;
        float: left;
        }
        .bkII {
            float: left;
        }      
        .bkVI {
            float: left;
            width: 100%;
        }  
        .IB p {
            margin-top: 10%;
            display: inline-block ;
            width: 55%;
        }
         hr{
            display: none;
         }
         .BII a {
            float: left;
            height: 50px;
            text-align: center;
            margin-left: 3%;
            margin-right: 1%;
         }
    }

