body {
    background-image: url(./img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header
{
    max-width: 1000px;
    min-width: 650px; 
    height: 200px;
    background-image: url(./img/panorama.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.fejlec2 {
width: 1000px; 
height: 200px;
background-image: url(./img/cimer.png) ;   
 background-size: 15%;
 background-repeat: no-repeat;
 background-position: 750px 20px;
}

table, tr, td, th{
    width: 428px;
    background-color: #B0D1F1;
    border: solid 1px black;
    text-align: center;
    border-collapse: collapse;
    margin: auto;      
}
    .TBII {float: right;}

article {
    width: 450px; /* 450 */
    background-color: #5B9CEA;
    display: inline-block;    
}

#p {font-weight: bold;}

h1 {padding: 20px;}

h2 {
    margin-left: 20px;
    margin-right: auto;
}

#FR {height: 150px;}

#href {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

a:hover {color: crimson;}

a:visited {color: red;}