body{
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.radius {
    border-radius: 25px;
}

nav{
    background-color: rgb(0, 110, 255);
    float: left;
    width: 22%;
    height: 200px;
    border-radius: 25px;
    margin: 2%;    
}
aside{
    background-color:  rgb(0, 110, 255);
    float: left;
    height: 200px;
    width: 22%;
    border-radius: 25px;
    margin: 2%
}

section{
    background-color:  rgb(0, 110, 255);
    float: left;
    width: 44%;
    height: 200px;
    border-radius: 25px;
    margin: 2% 0% 2% 0%;
}

        header{
            background-color: rgb(252, 173, 82);
            margin: 2% 2% 0% 2%;
            height: 30px;
            border-radius: 25px;
            text-align: center;
            width: 92%;
            padding: 1%;
}       

        article{
            background-color:rgb(252, 173, 82);
            margin: 2%;
            height: 90px;
            border-radius: 25px;
            text-align: center;
            padding: 1%;
            border-color: rgb(255, 0, 0);
            border:3px ;
            border-style: dotted;
            
}



footer {
    background-color:rgb(252, 173, 82);
    clear: left;
    margin: 2%;
    height: 30px;
    width: 92%;
    border-radius: 25px;
}

.bck {
    width: 90%;
    border-radius: 15px;
    padding: 1%;
    background-color: rgb(47, 0, 255);
}